/*CSS style for the mainpage by Samantha Stroud*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Lora";
}

body {
  height: 2229px;
}
/*header section*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 72px;
  background: #452816;
  color: rgba(243, 234, 225, 1);
  padding-left: 50px;
}

.cafename {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navigation {
  display: flex;
  padding-right: 8%;
}

.navigation a {
  color: rgba(243, 234, 225, 1);
  position: relative;
  font-size: 16px;
  padding-right: 50px;
  text-decoration: none;
}

.toppart {
  position: relative;
}
/*welcome section*/
.firstimg {
  width: 100%;
  height: 543px;
  aspect-ratio: 480/181;
  flex-shrink: 0;
  display: block;
}

.infobox {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 480px;
  height: 320px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgba(227, 180, 162, 0.94);
  text-align: center;
  padding: 32px;
}

.infobox h1 {
  color: #452816;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.infobox p {
  color: #452816;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menubtn,
.orderbtn {
  font-size: 16px;
  width: 128px;
  height: 48px;
  border-radius: 24px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 91, 79, 1);
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  align-items: center;
}
/*best sellers section*/
.bestsellers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 264px;
  background: #f2ece0;
}

.itemrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 0;
}

.bestsellers h1 {
  padding: 16px;
  color: #452816;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.espressopart,
.lattepart,
.hotcocopart,
.cheesecakepart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 40;
  padding: 120px;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 32px;
}

.cheesecakeimg,
.hotcocoimg,
.latteimg,
.espressoimg {
  width: 109px;
  height: 102px;
  padding-bottom: 8px;
  padding-top: 8px;
}

hr {
  color: rgba(69, 40, 22, 1);
  height: 112px;
  width: 3px;
}

.pinkstarimg {
  padding-top: 8px;
}

.infoandcoffeebox {
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}
/*cafe info section*/
.cafeinfobox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 50%;
  background-color: #475b4f;
  padding: 143px;
}

.cafehours {
  padding-right: 24px;
}

.itemrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 0;
}

.cafehours h1 {
  color: #f2ece0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}

.cafehours p {
  color: #f2ece0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cafeinfobox hr {
  width: 1px;
  height: 218px;
  color: rgba(242, 236, 224, 1);
}

.cafelocation h1 {
  color: #f2ece0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 24px;
}

.cafelocation p {
  color: #f2ece0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cafelocation {
  padding-left: 24px;
}

.infoandcoffeebox {
  display: flex;
}
/*coffee drip section*/
.coffeedripbox {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  max-width: 50vw;
  padding-left: 0;
  background-color: rgba(69, 40, 22, 1);
}

.coffeedripinfo {
  padding-left: 112px;
  padding: 72px;
}
.coffeedripinfo h1 {
  color: #f2ece0;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 72px;
}

.coffeedripinfo p {
  color: #f2ece0;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}

.menubtn2 {
  font-size: 16px;
  width: 128px;
  height: 48px;
  border-radius: 24px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(71, 91, 79, 1);
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  border: 0;
  align-items: center;
}

/*Owner section*/
.backgroundbox {
  width: auto;
  background-color: rgba(156, 126, 98, 1);
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ownerimg {
  width: 223px;
  height: 335px;
}

.ownerbox {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgba(223, 196, 153, 1);
  justify-content: center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.ownerinfo h1 {
  color: #452816;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px;
  padding-top: 80px;
}

.ownerinfo p {
  color: #452816;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ownerinfo {
  padding-left: 32px;
  padding-right: 32px;
}

.websiteonlytext {
  color: #452816;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*customer review section*/
.customerreviewbox {
  justify-content: center;
  width: auto;
  background-color: #f2ece0;
  text-align: center;
  gap: 30px;
  padding-bottom: 24px;
}

.customerinfo {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.maryspart,
.thomaspart,
.hopespart,
.jacobspart {
  width: 229px;
  height: 229px;
  background-color: rgba(216, 163, 144, 0.62);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  margin-left: 40px;
}

.maryspart,
.thomaspart,
.hopespart {
  margin-right: 40px;
}

.customerreviewbox h1 {
  color: #452816;
  text-align: center;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 32px;
}

.customerreviewbox h2 {
  color: #452816;
  text-align: center;
  font-family: Lora;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}

.customerreviewbox p {
  color: #452816;
  text-align: center;
  font-family: Lora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.greenstars {
  padding-top: 16px;
}

/*footer section*/
.footerbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  height: auto;
  padding: 32px;
  background-color: rgba(69, 40, 22, 1);
  margin-bottom: 0;
}

.footerbox h1 {
  color: rgba(242, 236, 224, 1);
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 32px;
  padding-top: 32px;
}

.footernav a {
  color: rgba(243, 234, 225, 1);
  position: relative;
  font-size: 16px;
  padding-right: 48px;
  text-decoration: none;
  padding-left: 32px;
}

.footertext {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 16px;
  justify-content: center;
}

.footertext hr {
  margin-bottom: 20px;
  margin-top: 24px;
}

.footerhours h2 {
  color: rgba(243, 234, 225, 1);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
}

.footerhours p {
  color: rgba(243, 234, 225, 1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerhours {
  padding-top: 16px;
  padding-right: 40px;
  justify-content: center;
  padding-left: 40px;
}

.footerlocation {
  justify-content: center;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.contactus h2 {
  color: rgba(243, 234, 225, 1);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
  justify-content: center;
}

.contactus {
  display: flex;
  text-align: center;
  flex-grow: 1;
}

.footerlocation p {
  color: rgba(243, 234, 225, 1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerlocation h3 {
  color: rgba(243, 234, 225, 1);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 8px;
}

.footerlocationbox {
  display: flex;
  text-align: right;
  justify-content: center;
}
